@model Main_Part.Models.Booking

@{

}
@* <h1>Payment Options</h1>
<p>Total Amount: @Model.TotalAmount</p>
<form asp-action="PayNow" method="post">
    <input type="hidden" name="bookingId" value="@Model.BookingId" />
    <label>Select Payment Option:</label>
    <div>
        <input type="radio" name="paymentOption" value="Bkash" required /> Bkash<br />
        <input type="radio" name="paymentOption" value="Nagad" required /> Nagad<br />
        <input type="radio" name="paymentOption" value="Card" required /> Card<br />
    </div>
    <button type="submit">Pay Now</button>
</form> *@

<div class="pay-form" style="margin-bottom: 100px;">
    <div class="row m-0">
        <h3 class="text-center text-white  mb-1">Pay Here</h3>
        <div class="col-12 px-4 pay-1">
            <div class="d-flex align-items-end mt-4 mb-2">
                <p class="h4 m-0 tour-span"><span class="pe-1">@Model.Tour.FlightFrom</span><span> To
                        @Model.Tour.FlightTo</span></p>

            </div>
            <div class="d-flex justify-content-between" style="margin-top: 32px;">
                <p class="textmuted fw-bold text-white" style="color: antiquewhite; font-size: 17px; font-weight: 400;">
                    Passenger
                    Name : </p>
                <p class="fs-20 fw-bold text-white"
                    style="color: rgb(60, 205, 203); font-size: 20px; font-weight: 400;">
                    @Model.BookUserNsme
                </p>

            </div>
            <div class="d-flex justify-content-between mb-3">
                <p class="textmuted fw-bold text-white" style="color: antiquewhite; font-size: 17px; font-weight: 400;">
                    Total Ammount :</p>
                <div class="d-flex align-text-top text-white">
                    <span class=" mt-1 pe-1">Tk </span><span
                        style="color: rgb(233, 141, 22); font-size: 25px; font-weight: 700;">@Model.TotalAmount</span>
                </div>
            </div>
        </div>
        <form asp-action="PayNow" method="post">
            <div class="col-12 px-0 pay-bg py-2">
                <div class="row m-0">
                    <h5 class="text-center text-white fw-bold  mb-1">Payment detail</h5>
                    <div class="col-8 px-4 my-4">
                        <input type="hidden" name="bookingId" value="@Model.BookingId" />
                        <label class="text-white fs-20">Select Payment Option:</label>
                        <div class="payment-option ">
                            <input type="radio" oninput="oninputMethod()" name="paymentOption" value="Bkash" required />
                            <span class="pay-span"><img src="/tour/Bkash.png" alt="" style="width: 18px;"><span>
                                    Bkash</span></span><br />
                            <input type="radio" oninput="oninputMethod()" name="paymentOption" value="Nagad" required />
                            <span class="pay-span"><img src="/tour/Nagad.png" alt="" style="width: 18px;"><span>
                                    Nagad</span></span><br />
                            <input type="radio" oninput="oninputMethod()" name="paymentOption" value="Card" required />
                            <spa class="pay-span" n><img src="/tour/Card.png" alt="" style="width: 18px;"><span>
                                    Card</span></span><br />
                        </div>

                    </div>
                    <div class="col-4 px-4 my-4">
                        <div class="pay-img">
                            <img src="/tour/Payment.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="row m-0">
                    <div class="col-12  mb-4 p-0">
                        <div>
                            <button class="pay-btn" type="submit"><span>Pay Now</span> <span
                                    class="fas fa-arrow-right ps-2 text-white pay-arrow"></span></button>

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>